.profile {
  display: flex;

  gap: 1em;

  img {
    width: 4em;
    border-radius: 5px;
  }

  div {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
      height: 1.5em;
    }
  }
}

.developers {
  margin-top: 1em;

  ul {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .developer {
      display: flex;
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
      }

      img {
        width: 4em;
        border-radius: 5px;
      }
    }
  }
}

.version {
  background-color: var(--background-overlay);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
