.marks-list {
  margin-top: 1em;

  .mark-container {
    list-style: none;
    display: flex;
    padding: 0.45em 0.5em;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background-overlay);

    border-radius: 5px;

    .mark-info {
      display: flex;
      flex-direction: column;

      .mark-date {
        font-size: 1.25ch;
        font-weight: bold;
      }
    }

    .mark {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 1000px;
      background-color: #fff;
      color: #fff;

      $size: 1.5em;

      width: $size;
      height: $size;
    }
  }
}
