.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.element {
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;

  img {
    width: 28px;
    filter: invert(1);
    margin-right: 0.5em;
  }
}

.header {
  margin-bottom: 0.5em;
}

.md {
  li,
  ul,
  ol,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: revert;
    padding: revert;
  }
}
