$colors: (
  'danger': #eb3a5a,
  'warning-variant': #fb8231,
  'warning': #f5b042,
  'success': #1ebf6b,
  'secondary-variant': #0fb8b1,
  'primary': #2d99da,
  'link': #3967d5,
  'secondary': #8754d0,
  'primary-variant': #bd49cd,
);

@mixin text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + calc((blue($n) * 114) / 1000));
  $light-color: round(
    (red(#ffffff) * 299) + (green(#ffffff) * 587) + calc((blue(#ffffff) * 114) / 1000)
  );

  @if abs($color-brightness) < calc($light-color/2) {
    color: white;
  } @else {
    color: black;
  }
}
