:root {
  --color-primary: #ff7c0a;
  --color-secondary: #954526;
  --color-darker: #120f00;
  --color-light: #fff;
  --color-neutral: #f5f5f5;
  --color-text-contrast: #fff;

  --border-radius: 10px;
}
//
//:root {
//  --color-primary: #FF7C0A;
//  --color-secondary: #954526;
//  --color-darker: #ffffff;
//  --color-light: #232323;
//  --color-neutral: #0a0a0a;
//  --color-text-contrast: #fff;
//}
